<body>
    <header class="header">
        <div class="header_top">
            <img class="header_top_logo" src="./images/header/logo.png" alt="logo">
            <h1 class="header_top_title">FIND BEST EVENTS AROUND THE WORLD</h1>
            <div class="header_top_emptiness"></div>
        </div>
        <div class="header_input">
            <div class="header_input_first">
                <input class="header_input_first_search" type="Start searching">
                <img src="./images/header/searc-icon.svg" alt="searc">
            </div>
            <div class="header_input_second">
                <input class="header_input_second_search" type="Choose country">

            </div>
        </div>
    </header>
</body>