 body{
    font-family: var(--mainFonts);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
    background-color: #000;
    color: $textColor;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
   
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    font-family: $mainFonts;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  a {
    color: $textColor;
    text-decoration: none;
  }
  
  .visually-hidden {
    position: absolute ;
    height: 1px ;
    width: 1px ;
    overflow: hidden;
  }
  
  li {
    list-style-type: none; 
  }
  
  input{
    outline: none;
  }

