// body{
//     background-color: black;
// }
.header{
    display: flex;
    justify-content: space-between;
    background-image: url(./images/header/first-background.png);
    &_logo{
        width: 30%;
        height: 30%;
    }
    &_title{
        color: black;
        width: 35%;
        text-align: center;
        font-family: Montserrat;
        font-size: 50px;
        font-weight: 900;
        line-height: 60.95px;
        color: #DC56C5;
    }
    &_emptiness{
        color: black;
        width: 30%;
        height: auto;
    }
}