 .header{
    background-image: url(./images/header/first-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &_top{
        display: flex;
        justify-content: space-between;
        &_logo{
            width: 20%;
            height: 5%;
        }
        &_title{
            margin: 40px 0 0 0;
            color: black;
            width: 50%;
            text-align: center;
            font-family: Montserrat;
            font-size: 50px;
            font-weight: 900;
            line-height: 60.95px;
            color: #DC56C5;
        }
        &_emptiness{
            color: black;
            width: 20%;
            height: auto;
        }
    }
    &_input{
        display: flex;
        justify-content: center;
        &_first{
            &_search{
                margin: 0 15px 30px 0px;
                width: 270px;
                height: 40px;
                background-color: gray;
                border: none;
                border-radius: 50px;
                position: relative;
            }
            &_svg{
                width: 15px;
                height: 15px;
                position: absolute;
                left: 550px;
                top: 218px;
            }
        }
        &_second{
            &_search{
                margin: 0 0 30px 15px;
                width: 270px;
                height: 40px;
                color: white;
                background-color: gray;
                border: none;
                border-radius: 50px;
                position: relative;
            }
            &_svg{
                width: 15px;
                height: 10px;
                position: absolute;
                left: 855px;
                top: 220px;
            }
        }
    }
}