.articles {
    display: grid;
    grid-template-columns: repeat(4, 196px); 
    grid-auto-rows: 312px;           
    gap: 63px 70px;                               
    justify-content: center;               
    margin: 40px auto;                    
    padding: 0;
    font-family: "Montserrat", serif;
  }
  
  .card {
    width: 196px;                   
    height: 312px;                                    
    border-radius: 8px;                                       
    display: flex;
    flex-direction: column;               
    align-items: center;                   
    justify-content: flex-start;          
    text-align: center;                   
   }
  
  .card-img {
    width: 194px;                          
    height: 312px; 
    border-radius: 50px 0px 50px 0px;                      
    object-fit: cover;                   
  }
  
.card-header {
  font-size: 16px;
  font-weight: 700;
  color: #DC56C5;
  margin: 5px 0;
}
  
.card-date-text {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  margin: 5px 0;
}

.card-locate-text {
  font-size: 14px;
  color: #fff;
  margin: 5px 0;
  font-weight: 600;
  line-height: 17px;
}